html {
  max-width: 100ch;
  padding: 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  background-color: #f5f5f5;
  color: #1d1d1d;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

p,
ul,
ol {
  margin-bottom: 1em;
  font-size: 2em;
}

button {
  padding: 0.5em 1em;
  margin: 0.2em;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.primary {
    background-color: #013164;
    color: #fafafa;
  }

  &.secondary {
    background-color: #5b6700;
    color: #fafafa;
  }

  &.danger {
    background-color: #b00020;
    color: #fafafa;
  }
}